body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.aout{
    color: orange;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
}

div img{
    width: 80%;
}

.link-tton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
}